<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <!-- Général -->
    <category label="listes">
        <setting label="Liste Perso" type="lsep" />
        <setting label="Création liste Perso" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=createL)"/>
        <setting label="Suppréssion liste Perso" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=supL)"/>
        <setting label="Liste Lecture" type="lsep" />
        <setting label="Création liste Lecture" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=createLV)"/>
        <setting label="Suppréssion liste Lecture" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=suppLV)"/>
        <setting label="Liste TRAKT" type="lsep" />
        <setting label="Création liste TRAKT" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=createLT)"/>
        <setting label="Suppréssion groupe/liste TRAKT" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=suppLT)"/>
        <setting label="Liste PASTEBIN" type="lsep" />
        <setting id="actifpastebin" label="Mon Pastebin" type="bool" default="false" />
        <setting label="Création liste Pastebin" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=createLP)" visible="eq(-1,true)"/>
        <setting label="Suppréssion liste Pastebin" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=suppLP)" visible="eq(-2,true)"/>
        <setting label="Liste MOVIE-DB" type="lsep" />
        <setting id="actiftmdb" label="Mon MOVIE-DB" type="bool" default="false" />
        <setting label="Création liste TMDB" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=createLTMDB)" visible="eq(-1,true)" />
        <setting label="Suppréssion liste TMDB" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=suppLTMDB)" visible="eq(-2,true)" />
        <setting id="actifupto" label="Mon Uptobox" type="bool" values="false" default="false" visible="false"/>
        <!--<setting label="Repo Uptobox" type="lsep" />
        <setting id="actifupto" label="Mon Uptobox" type="bool" default="false" />
        <setting label="Création accés répertoire" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=createRUPTO)" visible="eq(-1,true)" />
        <setting label="Création accés répertoire Publique" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=createRUPTOP)" visible="eq(-2,true)" />
        <setting label="Cryptage répertoire Publique" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=cryptFolder)" visible="eq(-3,true)" />
        <setting label="Supprimer Repertoire" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=suppLUPTO)" visible="eq(-4,true)" />
        <setting id="nbupto" label="Pagination Uptobox" type="number" default="20" visible="eq(-5,true)" />
        <setting id="modeadd" label="Mode ajout à son compte" type="labelenum" values="alias|std" default="alias"  visible="eq(-6,true)"/>-->
        <setting label="AllDebrid" type="lsep" />
        <setting id="actifalldeb" label="Mon Alldebrid" type="bool" default="false" />
    </category>
    <category label="Général">
        <setting id="actifhk" label="Activer HK" type="bool" values="false" default="false" visible="false"/>
        <!--
        <setting label="DataBase HK1" type="lsep" />
        <setting id="actifhk" label="Activer HK" type="bool" default="false" />
        <setting id="numhk" label="Num HK" type="text" default="0000" visible="eq(-1,true)"/>
        <setting label="DataBase HK²" type="lsep" />
        <setting id="actifnewpaste" label="Activer Médiathéque HK²" type="bool" default="false" />
        <setting id="heberg" label="Hébergeur liste DB" type="labelenum" values="Anotepad|Pastebin|Rentry|Textup|fichier|RentryC" default="RentryC"  visible="eq(-1,true)"/>
        <setting id="numHeberg" label="Numero Anotepad/Pastebin/Rentry/Textup" type="text" default="" visible="eq(-2,true)"/>
        <setting label="Ajouter contenu" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=folderPastebin&maj=false)" visible="eq(-3,true)"/>
        <setting label="Reset database" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=resetBDhkNew)" visible="eq(-4,true)"/>-->
        <!-- <setting id="nbHmaj" label="Nombre d'heures entre deux M.A.J auto (0=jamais)" type="number" default="200" visible="eq(-5,true)"/> -->
        <!--<setting id="actiflocal" label="Activer BD locale" type="bool" default="false" visible="false" />
        <setting id="numpastes" label="Num Pastes" type="text" default="" visible="eq(-1,true)"/>-->
        <setting label="DataBase HK3" type="lsep" />
        <setting id="actifnewpaste" label="Activer Médiathéque HK3" type="bool" default="false" />
        <setting id="heberg" label="Hébergeur liste Liens" type="labelenum" values="Anotepad|Pastebin|Rentry|Textup|fichier|Rentry" default="Rentry"  visible="eq(-1,true)"/>
        <setting id="numHeberg" label="Numero Anotepad/Pastebin/Rentry/Textup" type="text" default="" visible="eq(-2,true)"/>
        <setting label="Ajouter contenu" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=loadhk3v)" visible="eq(-3,true)"/>
        <setting label="Reset database" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=resetBDhkNew)" visible="eq(-4,true)"/>
        <setting id="hebergdb" label="Hébergeur Database" type="labelenum" values="1Fichier|Darkibox" default="1Fichier"  visible="eq(-5,true)"/>
        <setting id="numdatabase" label="Link database" type="text" default="" visible="eq(-6,true)"/>
        <setting label="Importer Database" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=loaddbhk3)" visible="eq(-7,true)"/>
        <setting label="Gestion Database" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=gestiondb)" visible="eq(-8,true)"/>
        <setting label="Lecture" type="lsep" />
        <setting id="resos" label="Résolution prioritaire" type="labelenum" values="720|1080|2160" default="1080" />
        <setting id="autoplay" label="Lecture automatique" type="bool" default="false" />
        <setting id="autoplay_delay" label="Délai avant le lancement (en seconde)" type="slider" range="0,1,30" option="int" default="0" subsetting="true" visible="eq(-1,true)" />
        <setting id="filtliens" label="Filtrage des liens" type="bool" default="false" />
        <setting label="Lancer automatiquement l'épisode suivant" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=patch)" />
        <setting id="newfen" label="New fenêtre info" type="bool" default="false" />
        <setting label="Listes" type="lsep" />
        <setting id="nb_items" label="Nombre d'élements par page" type="number" default="500" />
        <setting id="lists_orderby" label="Trie par défaut" type="labelenum" values="Année|Titre|Popularité|Date Added" default="Date Added" />
        <setting label="Créer une liste personnalisée" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=createL)" />
        <setting label="Supprimer une liste personnalisée" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=supL)" />
        <setting label="Visuels" type="lsep" />
        <setting id="images_sizes" label="Résolution des images" type="labelenum" values="Basse|Moyenne|Haute" default="Moyenne"  />
        <!--<setting id="newfen" label="Nouvelle fenêtre" type="bool" default="true" />-->
        <setting label="Base de données" type="lsep" />
        <setting label="Importer la base de données" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=bd)" />
    </category>
    <!-- bookmak en ligne -->
    <category label="Bookmark Online">
        <!--<setting id="ochk1" label="On continue ... (visu hk1)" type="bool" default="false" />-->
        <setting id="bookonline" label="Bookmark en ligne" type="bool" default="false" />
        <setting id="bookonline_name" label="Pass" type="text" default="" visible="eq(-1,true)" />
        <setting id="bookonline_site" label="Site" type="text" default="bookmark.embyshare.ovh:80" visible="eq(-2,true)" />
        <setting label="Créer Profil" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=ajoutP)" visible="eq(-3,true)"/>
        <setting label="Supprimer Profil" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=suppP)" visible="eq(-4,true)"/>
        <setting id="rentry" type="text" label="Code Import Config"  default=""  visible="eq(-5,true)"/>
        <setting label="Import Config" type="action" option="close" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=impHK,return)" visible="eq(-6,true)"/>
    </category>
    <!-- Installation avancée -->
    <category label="Installation avancée">
        <setting label="Maj HK3 & HK" type="lsep" />
        <!-- <setting id="majhk2" label="Activer la Maj au restart" type="bool" default="false" /> -->
        <!-- <setting label="Mise en place de la Maj au restart KODI" type="action" option="close" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=mepautostart)"/>-->
        <setting id="intmaj" label="Interval (mins) Service de MAJ (0=desactivé)" type="labelenum" values="0|15|30|45|60|120|180|240" default="0"/>
        <setting label="Mise en place service de Maj" type="action" option="close" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=mepautostart2)"/>
        <setting id="delaimaj" label="Delai 1er MAJ (mins)" type="number" default="0"/>
        <setting id="rskin" label="Refresh skin aprés MAJ" type="bool" default="false" />
        <setting id="affmaj" label="Bandeau M.A.J" type="bool" default="true" />
        <setting id="majlecture" label="lancement M.A.J si lecture" type="bool" default="true"/>
        <setting label="Base de données" type="lsep" />
        <setting id="skinhk" label="Num Skin HK" type="text" default="4j82p"/>
        <setting id="epg" label="EPG" type="text" default="lk4Xb"/>
        <setting label="Importer EPG" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=bd)" />
        <setting label="Importer une base de données Kodi" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=bd)" />
        <setting label="Effacer la base de données Kodi" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=delDta)" />
        <setting label="Visuels" type="lsep" />
        <setting id="thumbnails" label="Nombre d'images en cache (0 = illimité)" type="number" default="0" />
        <setting label="Gestion des STRM" type="lsep" />
        <setting id="actifStrm" label="STRM Files" type="bool" default="false" />
        <setting id="strmFolder" label="Dossier des fichiers STRM" type="folder" visible="eq(-1,true)" />
        <setting label="Selection widget" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=strmSelectWidget)" visible="eq(-2,true)" />
        <setting label="Création Manuel Full" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=strmsc)" visible="eq(-3,true)" />
        <!--<setting label="Gestion des STRM" type="lsep" />
        <setting id="paste" label="Identifiant aNotepad" type="text" default="" />
        <setting id="osVersion" label="Dossier des fichiers STRM" type="folder" />
        <setting label="Créer les fichiers STRM" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=strms)"/>
        <setting label="Créer les groupes" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=groupe)" />
        <setting label="Actualiser les fichiers STRM" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=clearStrms)"/>
        <setting label="Filtres" type="lsep" />
        <setting label="Importer des catégories" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=choixrepo)" />
        <setting label="Importer des listes intelligentes" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=choixliste)" />-->
    </category>
    <!-- Débrideurs -->
    <category label="Débrideurs">
        <setting label="Clés API de débridage" type="lsep" />
        <setting id="key1fichier" label="1fichier" type="text" default=""/>
        <setting id="keydarkibox" label="Darkibox" type="text" default=""/>
        <setting id="keyalldebrid" label="AllDebrid" type="text" default=""/>
        <setting id="keyrealdebrid" label="RealDebrid" type="text" default=""/>
        <setting id="apikey" type="text" label="TMDB"  default="96139384ce46fd4ffac13e1ad770db7a"/>
        <setting id="keyfanart" type="text" label="Fanart"  default="a5410a6b423b516c617c0cc8e04339ab"/>
    </category>
    <category label="Trakt">
    	<setting id="clientid" type="text" label="Trakt Client Id"  default="29ed315a4ca3ead741a0844a44d8a3103e00071b89fd107aa54f13dc7795605f"/>
        <setting id="clientsecret" type="text" label="Trakt Client Secret"  default="ab17d047a094f0386f7c15eba3f6c945d29848ebe745aa84db168d45e08925ad"/>
        <setting id="clientacces" type="text" label="Trakt Acces"  default=""/>
        <setting id="clientrefresh" type="text" label="Trakt Refresh"  default=""/>
        <setting id="clientexpire" type="text" label="Trakt key expire"  default=""/>
        <setting id="traktperso" label="Mon Trakt" type="bool" default="false" />
        <setting id="usertrakt" label="User" type="text" default="" visible="eq(-1,true)" />
        <setting id="profiltrakt" label="Profil Bookmark Online" type="text" default="" visible="eq(-2,true)" />
    </category>
    <!-- Skins -->
    <category label="Skins">
        <setting label="Étape 1" type="lsep" />
        <setting label="Importer un skin" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=bd)" />
        <setting label="Étape 2" type="lsep" />
        <setting label="Configurer le skin importé" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=choixskin)" />
    </category>
    <category label="TV">
        <setting id="iptv" label="TV" type="bool" default="false" />
        <setting label="Stalker" type="lsep"/>
        <setting label="Gestion Fournisseur ou Mac" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=retireriptv)" visible="eq(-2,true)"/>
        <setting label="Supprimer Base" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=delDB)" visible="eq(-3,true)" />
        <setting id="site1" type="text" label="Site 1"  default="" visible="false"/>
        <setting id="mac1" type="text" label="Adr 1"  default="" visible="false"/>
        <setting id="token1" type="text" label="Token 1"  default="" visible="false"/>
        <setting id="passtmp" type="text" label="pass"  default="" visible="false"/>
        <setting label="Xtream" type="lsep"/>
        <setting id="serverx1" type="text" label="Serveur 1"  default="" visible="eq(-9,true)"/>
        <setting id="userx1" type="text" label="User 1"  default="" visible="eq(-10,true)"/>
        <setting id="passx1" type="text" label="Password 1"  default="" visible="eq(-11,true)"/>
        <setting id="nomx1" type="text" label="Nom 1"  default="" visible="eq(-12,true)"/>
        <setting label="Affichage" type="lsep" />
        <setting id="cachepg" label="cache EPG Xtream (heure)" type="text" default="48"/>
        <setting id="newfeniptv" label="New fenêtre IPTV chaines" type="bool" default="false" />
        <setting id="contentIptv" label="Choix type de vue chaines" type="labelenum" values="videos|files|episodes|movies" default="videos"/>

    </category>
    <!--
    <category label="Poissonnerie">
        <setting label="Ma Poissonnerie" type="lsep" />
        <setting id="poissFolder" label="Folder" type="text" default=""/>
        <setting id="poissHash" label="Hash" type="text" default=""/>
        <setting label="Vider la poissonnerie" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=reinitPoissonnerie)" />
    </category>
    -->

</settings>
