<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <!-- Général -->
    <category label="Général">
        <setting label="Lecture" type="lsep" />
        <setting id="resos" label="Résolution prioritaire" type="labelenum" values="720|1080|2160" default="1080" />
        <setting id="autoplay" label="Lecture automatique" type="bool" default="false" />
        <setting id="autoplay_delay" label="Délai avant le lancement (en seconde)" type="slider" range="0,1,30" option="int" default="0" subsetting="true" visible="eq(-1,true)" />
        <setting label="Lancer automatiquement l'épisode suivant" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=patch)" />
        <setting label="Listes" type="lsep" />
        <setting id="nb_items" label="Nombre d'élements par page" type="number" default="500" />
        <setting id="lists_orderby" label="Trie par défaut" type="labelenum" values="Année|Titre|Popularité|Date Added" default="Date Added" />
        <setting label="Créer une liste personnalisée" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=createL)" />
        <setting label="Supprimer une liste personnalisée" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=supL)" />
        <setting label="Visuels" type="lsep" />
        <setting id="images_sizes" label="Résolution des images" type="labelenum" values="Basse|Moyenne|Haute" default="Moyenne"  />
        <!--<setting id="newfen" label="Nouvelle fenêtre" type="bool" default="true" />-->
        <setting label="Base de données" type="lsep" />
        <setting label="Importer la base de données" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=bd)" />
    </category>
    <!-- bookmak en ligne -->
    <category label="Bookmark Online">
        <setting id="bookonline" label="Bookmark en ligne" type="bool" default="false" />
        <setting id="bookonline_name" label="Pass" type="text" default="" visible="eq(-1,true)" />
        <setting id="bookonline_site" label="Site" type="text" default="lesalkodiques.com/u2pplay" visible="eq(-2,true)" />
        <setting label="Créer Profil" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=ajoutP)" visible="eq(-3,true)"/>
        <setting label="Supprimer Profil" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=suppP)" visible="eq(-4,true)"/>
    </category>
    <!-- Installation avancée -->
    <category label="Installation avancée">
        <setting label="Base de données" type="lsep" />
        <setting label="Importer une base de données Kodi" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=bd)" />
        <setting label="Effacer la base de données Kodi" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=delDta)" />
        <setting label="Visuels" type="lsep" />
        <setting id="thumbnails" label="Nombre d'images en cache (0 = illimité)" type="number" default="0" />
        <setting label="Gestion des STRM" type="lsep" />
        <setting id="paste" label="Identifiant aNotepad" type="text" default="" />
        <setting id="osVersion" label="Dossier des fichiers STRM" type="folder" />
        <setting label="Créer les fichiers STRM" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=strms)"/>
        <setting label="Créer les groupes" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=groupe)" />
        <setting label="Actualiser les fichiers STRM" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=clearStrms)"/>
        <setting label="Filtres" type="lsep" />
        <setting label="Importer des catégories" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=choixrepo)" />
        <setting label="Importer des listes intelligentes" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=choixliste)" />
    </category>
    <!-- Débrideurs -->
    <category label="Débrideurs">
        <setting label="Clés API de débridage" type="lsep" />
        <setting id="keyupto" label="Uptobox" type="text" default=""/>
        <setting id="keyalldebrid" label="AllDebrid" type="text" default=""/>
        <setting id="keyrealdebrid" label="RealDebrid" type="text" default=""/>
        <setting id="apikey" type="text" label="TMDB"  default="96139384ce46fd4ffac13e1ad770db7a"/>
    </category>
    <!-- Skins -->
    <category label="Skins">
        <setting label="Étape 1" type="lsep" />
        <setting label="Importer un skin" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=bd)" />
        <setting label="Étape 2" type="lsep" />
        <setting label="Configurer le skin importé" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=choixskin)" />
    </category>
    
</settings>
